/* * Selector universal de reseteo de estilos por default del html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(191, 191, 191, 0.843);
  transition: 0.4s;
  padding: 0px;
}



.mostrador .fila img {
  width: 100%;
  margin: 30px 0;
}

/* BANNER 2 DOWNSIDE */
.imagen_2 {
  background-color: rgba(191, 191, 191, 0.843);
  width: 100%;
  height: 400px;
  display: block;
  padding: 1px;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-color: #201f24;
  color: rgba(191, 191, 191, 0.843);
  padding-top: 80px;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.botones_footer {
  color: rgba(191, 191, 191, 0.843);
}
.botones_footer:hover {
  color: #ffffff;
  transition: 0.4s;
}

/* LEGAL */
.legal h5 {
  float: right;
  color: #ffffff;
  font-size: 13px;
  text-align: right;
  padding: 5px;
  margin: 20px;
}

.fa-instagram {
  color: rgb(129, 46, 129);
  padding-top: 1px;
  font-size: 20px;
}

.fa-twitter {
  color: rgb(17, 79, 166);
  padding-top: 1px;
  font-size: 20px;
}

.fa-facebook {
  color: rgb(9, 9, 175);
  padding-top: 1px;
  font-size: 20px;
}

/* LOGO UPSIDE */
.logo p a {
  color: #ffffff;
  display: flex;
  justify-content: right;
  float: left;
  font-size: 25px;
  align-items: center;
  padding: 32px;
  background-color: #201f24;
}

.second-color {
  font-size: 25px;
  color: #c93c19;
  font-family: "Mitr", sans-serif;
}

.logo1 {
  margin-bottom: 0px;
}

/* ESTILOS GENERALES */
body {
  background-color: #201f24;
}

.contenido-principal {
  background-color: #201f24;
  margin: 2px;
}

.banner_segundo {
  background-color: #201f24;
}

nav {
  max-width: 900px;
  margin: auto;
  background-color: #201f24;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 0px;
}

/* CARRUSEL BOOTSTRAP */
.carousel-inner {
  width: 100%;
  height: 100%;
}

/* BANNER 1 UPSIDE */
.imagen_1 {
  background-color: #201f24;
  width: 100%;
  height: 400px;
  display: block;
  padding: 1px;
  margin: 0 auto;
}

/* MENU HORIZONTAL */
.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
}
.menu-horizontal > li > a {
  display: block;
  padding: 35px 20px;
  color: rgba(191, 191, 191, 0.843);
  text-decoration: none;
}
.menu-horizontal > li:hover {
  background-color: rgba(98, 85, 82, 0.7058823529);
}
.menu-horizontal li:hover .menu-vertical {
  display: block;
  transition: 0.3s;
}

/* MENU VERTICAL */
.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 170px;
  background-color: #201f24;
  z-index: 1;
  color: rgba(191, 191, 191, 0.843);
  text-align: center;
}
.menu-vertical li:hover {
  background-color: rgba(98, 85, 82, 0.7058823529);
  height: 60px;
  transition: 0.4s;
  color: rgba(191, 191, 191, 0.843);
  height: 70%;
}
.menu-vertical li:hover li a {
  display: block;
  color: rgba(191, 191, 191, 0.843);
  text-decoration: none;
  transition: 0.3s;
  background-color: rgba(98, 85, 82, 0.7058823529);
}

ul {
  padding: 0;
  margin: 0;
}


/* CONTENIDO PRINCIPAL (CARDS PRODUCTOS) */
/* MAPA INDEX */
.mapa_imagen {
  padding-top: 30px;
  width: 520px;
  height: 300px;
}


/* BOTONES AGREGAR A CARRITO */
.btn {
  border-radius: 7px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #8e1212;
  border-color: #201f24;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  align-content: center;
}
.btn:hover {
  background-color: #114f14;
  transition: 0.3s;
}

section {
  background-color: #201f24;
  color:rgb(245, 244, 244);
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: right;
}

section h3 {
  background-color: #201f24;
  color:rgb(245, 244, 244);
  padding-top: 10px;
  padding-bottom: 1px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

article div{
  background-color: rgb(245, 244, 244);
  padding: 20px;
}

h2 {
  font-size: 20px;
}


.formulario-info {
  padding-left: 630px;
  padding-top: 50px;
}

.formulario-pago {
  padding-left: 680px;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.formulario-envio {
  padding-left: 675px;
  align-content: center;
  padding-bottom: 100px;
}

.btn-pago {
  align-content: center;
  align-items: center;
  text-align: center;

}


.boton-enviar {
  width: 200px;
  height: 50px;
  background-color: #296311;
  color: white;
  border-radius: 9px;
  border-color: #717070;
}

.boton-enviar:hover {
  background-color: #6ace38;
  transition: 0.3s;
}


.boton-borrar {
  width: 130px;
  height: 25px;
  background-color: #ab300b;
  color: white;
  border-radius: 9px;
  border-color: #717070;

}

.boton-borrar:hover {
  background-color: #d46a23;
  transition: 0.3s;
}


.boton-izquierda {
  float: left;
}
